/*
  Credit for styling the parts of the range slider
  https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/

input[type=range] {
  height: 150px;
  width: 150px;
  margin: 0;
  transform-origin: 75px 75px;
  transform: rotate(-90deg);

  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]:focus {
  outline: none; /* Removes the blue border */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;

  height: 30px;
  width: 76px;
  border-radius: 3px;
  background: transparent;
  cursor: grab;
  /* margin-top: -104px; */
  background-image: url('throttle.svg');
  transform: rotate(90deg)
}

input[type=range]::-moz-range-thumb {
  height: 30px;
  width: 76px;
  border-radius: 3px;
  background: transparent;
  cursor: grab;
  background-image: url('throttle.svg');
  transform: rotate(90deg)
}

input[type=range]::-ms-thumb {
  height: 30px;
  width: 76px;
  border-radius: 3px;
  background: transparent
  cursor: grab;
  background-image: url('throttle.svg');
  transform: rotate(90deg)
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.manipulatible {
  cursor: grab;
}

g[name=switchUp] {
  cursor: s-resize;
}

g[name=switchMiddle] rect[name=switchToggleUp] {
  cursor: n-resize;
}

g[name=switchMiddle] rect[name=switchToggleDown] {
  cursor: s-resize;
}

g[name=switchDown] {
  cursor: n-resize;
}

.rotatable {
  transform-box: fill-box;
  transform-origin: center;
}

.barGraph {
  transform-box: fill-box;
  transform-origin: bottom;
}
